*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.wrapper{
    max-width: 100%;
    background-color: #F3F2E7;
    margin: 0 auto;
}
.figure{
    position: relative;
}
#oval{
    position: absolute;
    top: 150px;
    left: 0px;
}
#rectangle{
    position: absolute;
    width: 500px;
    top: 142px;
    right: 0px;
}
header{
    position: relative;
    height: 50px;
    background-color:  rgba(0,0,0,0.6);
}
.logo{
    position: absolute;
    top: 20px;
    left: 35px;
    
}

.nav-bar{
    position: relative;
}
ul{
    position: absolute;
    left: 170px;
    top: 25px;
}
li{
    margin-right: 50px ;
    list-style-type: none;
    cursor: pointer;
}
.button-position{
    position: relative;
}
.button{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #7E8AB8;
    background-color: #F3F2E7;
    width: 138px;
    height: 48px;
    border-radius: 30px;
    border: 0.5px solid #7E8AB8 ;
    font-weight: 400;
    cursor: pointer;
}
.weather-regitration{
    position: relative;
}
.weather-regitration a{
    position: absolute;
    color: black;
    text-decoration: none;
}
.weather{
    left: 635px;
    top: 25px;
}
.signup{
    left: 735px;
    top: 25px;
}
.shapes{
    position: relative;
}
.shapes img{
    position: absolute;
}
#line{
    right: 317px;
    top: -520px;
    width: 250px;
}
#number{
    width: 120px;
    top: -606px;
    right: 390px;
}
#circle{
    top: -403px;
    right: 190px;
    width: 158px;
}
#circle2{
    top: -526px;
    width: 280px;
    right: 215px;
}
#path{
    top: -770px;
    right: 120px;
}
.text{
    position: relative;
}
h1{
    font-weight: 300;
    font-Size: 72px;
    line-height: 80px;
    position: absolute;
    left: 190px;
    bottom: 450px;
    font-family: "Rowdies";

}
.text p{
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    bottom: 365px;
    left: 190px;
    color: #3A170080;
}
.donation{
    position: absolute !important;
    height: 48px;
    width: 180px;
    height: 40px;
    border-radius: 50px;
    top: -330px;
    left: 190px;
    background-color: #7E8AB8;
    color: white;
    cursor: pointer;
    border: 0px;
}
.conteiner{
    max-width: 1835px;
}
.size-color{
    background-color: white;
    max-width: 100%;
    margin: 0 auto
}
.conteiner{
    max-width: 1500px;
    background-color: #ffff;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 300px;
}
#ourFeatures{
    text-align: center;
    margin-top: 122px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #E29F72;
}
#txtOnCharity{
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}
#secondSectionpath{
    margin-top: 85px;
    margin-left: 100px;
}
#secondSectionOval{
    margin-bottom: 260px;
    margin-left: -200px;
}
.conteiner_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: -450px;
    margin-left: 145px;
}
.box{
    background-color: #F3F2E7;
    max-width: 490px;
    border-radius: 12px;
    padding: 54px 37px;
}
.box_help {
    display: flex;
    align-items: center;
    gap: 32px;
}
.firstHr{
    display: block;
    width:15%;
    text-align:left;
    margin-left:0;
    height: 3px;
    background-color: #333333    ;
    margin-top: 15px;
}
.secondHr{
    display: block;
    width:85%;
    text-align:left;
    margin-left:0;
    height: 1px;
    background-color: #DEDDCD;
    margin-top: 15px;
}
.box_help_txt{
    margin-top: 15px;
}
.box_help_txt p{
    font-weight: 400;
    font-size: 16px;
    color: #3A170080;
}
.third_section{
    max-width: 100%;
    
}
.third_conteiner{
    max-width: 1500px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}
.ourCases{
    text-align: center;
    margin-top: 122px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #E29F72;
}
.txtOnCauses{
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}
.div_center{
    gap: 50px;
    justify-content: center;
}
.control{
    margin-top: 70px;
    max-width: 1000px;
}
.third_section_images{
    max-width: 370px ;
    border-radius: 12px 12px 0px 0px;
    height: 240px;
} 
.box_in_third_section{
    background-color: #F3F2E7;
    max-width:  370px;
    border-radius: 0px 0px 12px 12px ;
    margin-top: -4px;
}
.inside_the_box{
    padding: 20px 30px;
}
.inside_the_box h3{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}
.inside_the_box p{
    margin-top: -10px;
}
.goal{
    margin-left: 53%;
}
.hr_in_third_section{
    display: block;
    width:30%;
    margin-left: 30px;
    height: 8px;
    background-color: #2FB0AB;
    margin-top: 0px;
    border-radius: 20px;
}
.second_hr_in_third_section{
    display: block;
    width:50%;
    margin-left:0px;
    height: 8px;
    background-color: #E6E4D6;
    margin-top: 0px;
    border-radius: 20px;
}
.button_in_third_sectio{
    border-radius: 24px;
    margin-left: 30px;
    width: 50%;
    background-color: #7E8AB8;
    margin-top: 40px;
    height: 50px;
    margin-bottom: 48px ;
    cursor: pointer;
    color: white;
    border: 0px;
}
.main_div{
    padding-left: 60px;
}
.food{
    border-radius: 12px 12px 0px 0px;
    height: 247px;
}
.food_hr_in_third_section{
    display: block;
    width:50%;
    margin-left:30px;
    height: 8px;
    background-color: #2FB0AB;
    margin-top: 0px;
    border-radius: 20px;
}
.food_second_hr_in_third_section{
    display: block;
    width:30%;
    margin-left:0px;
    height: 8px;
    background-color: #E6E4D6;
    margin-top: 0px;
    border-radius: 20px;
}
.charity_hr_in_third_section{
    display: block;
    width:45%;
    margin-left:30px;
    height: 8px;
    background-color: #2FB0AB;
    margin-top: 0px;
    border-radius: 20px;
}
.charity_second_hr_in_third_section{
    display: block;
    width:35%;
    margin-left:0px;
    height: 8px;
    background-color: #E6E4D6;
    margin-top: 0px;
    border-radius: 20px;
}
.explore_button{
    display: flex;
    justify-content: center;
}
.explore{
    width: 170px;
    height: 48px;
    color: #7E8AB8;
    border-color: #7E8AB8;
    border-radius: 30px;
    margin-top: 64px;
    margin-bottom: 112px;
    cursor: pointer;
    margin-left: 80px;
    border: 0.2px solid #7E8AB8;
    background-color: white;
}
.forth_section{
    display: flex;
    max-width: 100%;
    background-color: #F3F2E7;
    margin: 0 auto;
    justify-content: center;
}
.forth_conteiner{
    display: flex;
    max-width: 1835px;
    background-color: #F3F2E7;
    justify-content: center;
    margin-top: 150px;
}
.right_side{
    margin-left: 900px;
    margin-top: 50px;
}
.about_us{
    width: 98px;
    height: 32px;
    font-size: 16px;
    font-weight: 98px;
    color: #E29F72;
}
.highes_form{
    width: 314px;
    height: 128px;
    font-weight: 300;
    font-size: 56px;
    color: #3A1700;
}
.right_side p{
    width: 470px;
    height: 101px;
    font-weight: 400;
    font-size: 20px;
    color: #3A1700;
    margin-top: 29px;
}
.right_side button{
    width: 170px;
    height: 48px;
    color: #7E8AB8;
    border-color: #7E8AB8;
    border-radius: 30px;
    margin-top: 35px;
    margin-bottom: 300px;
    cursor: pointer;
    border: 0.2px solid #7E8AB8;
    background-color: white;
}
.left_side{
    position: relative;
}
#combined{
    position: absolute;
    width: 400px;
    left: 345px;
}
#forth_sectio_rectangle{
    position: absolute;
    width: 238px;
    left: 200px;
    top: 30px;
}
#forth_sectio_circle{
    position: absolute;
    width: 228px;
    left: 230px;
    top: 315px;
}
#forth_sectio_path{
    position: absolute;
    left: 615px;
    top: 345px;
    width: 178px;
}
#main_pic{
    position: absolute;
    width: 370px;
    top: 83px;
    left: 303px;
    border-radius: 24px;
}
.fifth_section{
    max-width: 100%;
    background-color: #F3F2E7;
    margin: 0 auto;
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.fifth_section_conteiner_position{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.fifth_section_conteiner{
    max-width: 1500px;
    margin-top: 42px;
    
}
.fifth_section_box1{
    justify-content: center;
    max-width: 370px;
    margin-left: 30px;
    border-radius: 12px;
    background-color: white;
}
.fifth_section_box1 h2{
    width: 69px;
    height: 64px;
    font-weight: 300;
    font-size: 56px;
    margin-left: 32px;
    margin-top: 39px;
    margin-bottom: 42px;
    color: #3A1700;
}
.fifth_section_box1 h5{
    width: 64px;
    height: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 125px;
    margin-top: -102px ;
    margin-right: 181px;
    color: #5F4230;
}
.fifth_section_box1 p{
    width: 156px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 28px;
    margin-left: 125px;
    color: #3A1700;
}
.unselfish h5{
    margin-top: 298px;
    width: 116px;
    height: 32px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #E29F72;
}
.unselfish h2{
    margin-top: 17px;
    Width:384px;
    font-size: 55px;
    font-weight: 300;
    line-height: 64px;
}
.unselfish p{
    margin-top: 29px;
    width: 470px;
    font-weight: 400;
    font-size: 20px;
}
.unselfish button{
    width: 202px;
    font-weight: 400;
    font-size: 14px;
    color: #7E8AB8 ;
    border-radius: 30px;
    border-color: #7E8AB84E;
    margin-top: 35px;
    cursor: pointer;
    height: 48px;
    margin-bottom: 300px;
}
.unselfish_position{
    position: relative;
}
.unselfish_position img{
    position: absolute;
}
#fifth_section_comb{
    right: 100px;
    bottom: 180px;
}
#fifth_section_oval{
    right: 240px;
    bottom: 580px;
}
#fifth_section_rect{
    right: -85px;
    bottom: 185px;
}
#fifth_section_main{
    width: 430px;
    right: -25px;
    bottom: 280px;
    border-radius: 12px;
}
#fifth_section_path{
    right: -120px;
    bottom: 655px;
}
.sixth_section{
    display: flex;
    max-width: 100%;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
}
.sixth_conteiner{
    display: flex;
    max-width: 1835px;
    background-color: white;
    justify-content: center;
    margin-top: 150px;
}
.ourservice h5{
    width: 141px;
    font-weight: 300;
    font-size: 16px;
    color:  #E29F72;
    margin-left: 25px;
}
.ourservice h2{
    width: 467px;
    font-weight: 300;
    font-size: 56px;
    color:#3A1700;
    margin-top: 17px;
    margin-left: 25px;
}
.sixth_conteiner_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 69px;
}
.sixth_section_button{
    border-radius: 24px;
    width: 40%;
    background-color: #7E8AB8;
    margin-top: 150px;
    height: 50px;
    margin-bottom: 0px ;
    cursor: pointer;
    color: white;
    border: 0px;
}
.explore_all{
    width: 170px;
    height: 48px;
    color: #7E8AB8;
    border-color: #7E8AB8;
    border-radius: 30px;
    margin-top: 64px;
    margin-bottom: 0px;
    cursor: pointer;
    border: 0.2px solid #7E8AB8;
    background-color: white;
    margin-left: 44%;
}
.box2{
    background-color: #F3F2E7;
    max-width: 490px;
    border-radius: 12px;
    padding: 54px 37px;
    margin-left: 25px;
    margin-right: 25px;
}
.sseventh_section{
    display: flex;
    max-width: 100%;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
}
.seventh_conteiner{
    display: flex;
    max-width: 1835px;
    background-color: white;
    justify-content: center;
    margin-top: 150px;
}
.our_gallery h5{
    width: 141px;
    font-weight: 300;
    font-size: 16px;
    color:  #E29F72;
    margin-top: 139px;
    margin-left: 170px;
}
.our_gallery h2{
    width: 467px;
    font-weight: 300;
    font-size: 56px;
    color:#3A1700;
    margin-top: 17px;
    margin-left: 25px;
}
.video{
    position: relative;
}
.video img{
    position: absolute;
}
.video video{
margin-top: 50px;
    border-radius: 12px;
    width: 570px;
    
}
#charity1{
    width: 270px;
    position: absolute;
    top: 6625px;
    right: -30px;
    border-radius: 12px;
}
#charity2{
    width: 350px;
    position: absolute;
    left: 208px;
    top:  6625px;
    border-radius: 12px;
}
#charity03{
    position: absolute;
    width: 270px;
    height: 144px;
    border-radius: 12px;
    right: 185px;
    top: 6350px;
}
#charity4{
    position: absolute;
    width: 270px;
    border-radius: 12px;
    left: -10px;
    top:  6300px;
}
body{
    overflow-x: hidden;
}
.video_explore_all{
    width: 170px;
    height: 48px;
    color: #7E8AB8;
    border-color: #7E8AB8;
    border-radius: 30px;
    margin-top: 364px;
    margin-bottom: 112px;
    cursor: pointer;
    border: 0.2px solid #7E8AB8;
    background-color: white;
    margin-left: 44%;
}
.eighth_section{
    max-width: 100%;
}
.eighth_conteiner{
    max-width: 2000px;
}
.background8{
    max-width: 100%;
    background: rgb(226,159,114);
    background: -moz-linear-gradient(143deg, rgba(226,159,114,1) 15%, rgba(204,128,77,1) 15%, rgba(207,130,79,1) 87%, rgba(226,159,114,1) 87%, rgba(226,159,114,1) 87%);
    background: -webkit-linear-gradient(143deg, rgba(226,159,114,1) 15%, rgba(204,128,77,1) 15%, rgba(207,130,79,1) 87%, rgba(226,159,114,1) 87%, rgba(226,159,114,1) 87%);
    background: linear-gradient(143deg, rgba(226,159,114,1) 15%, rgba(204,128,77,1) 15%, rgba(207,130,79,1) 87%, rgba(226,159,114,1) 87%, rgba(226,159,114,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e29f72",endColorstr="#e29f72",GradientType=1);
    height: 304px;
    
}
.eighth_combined{
    margin-top: 33px;
    margin-left: 580px;
}
.eighth_oval4{
    margin-left: -30px;
}
.eighth_oval5{
    margin-left: 150px;
    margin-bottom: 80px;
}
.txt_position{
    position: relative;
}
.h2_position{
    /* position: absolute; */
    color: white;
    width:405px;
    font-weight: 300;
    font-size: 56px;
    margin-top: -180px;
    margin-left: 100px;
}
.txt_positions p{
    color: #F3F2E7;
    width: 470px;
    font-weight: 4000;
    font-size: 16px;
    margin-top:20px;
    margin-left: 100px;
}
.section_eight_button{
    position: absolute;
    width: 170px;
    height: 48px;
    color: white;
    border-color: white;
    border-radius: 30px;
    top: 7220px;
    left: 170px;
    cursor: pointer;
    border: 0.2px solid white;
    background-color: #ce814e;
    margin-left: 44%;
}
.section_eight_button2{
    position: absolute;
    width: 202px;
    height: 48px;
    color: white;
    border-color: #FFB200;
    border-radius: 30px;
    top: 7220px;
    left: 400px;
    cursor: pointer;
    border: 0.2px solid#FFB200;
    background-color: #FFB200;
    margin-left: 44%;
}
.burger {
    display: none;
    flex-direction: column;
    background-color: orange;
    border-radius: 50%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 8%;
    justify-content: space-between;
  }
  
  .burger span {
    height: 2px;
    width: 50px;
    background-color: black;
    margin-bottom: 10px;
  }
  .burger span:last-child {
    margin-bottom: 0;
  }
  
  .hide {
    opacity: 0;
  }
  .show {
    opacity: 1;
  }
  
  .mobile-navigation {
    position: fixed;
    background-color: brown;
    width: 100%;
    top: 0;
    height: 100%;
    transition: opacity 0.3s linear;
  }
  .mobile-navigation ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mobile-navigation ul li {
    margin: 10px;
  }



  @media (max-width: 1024px) {
    .shapes{
        position: relative;
        top: -150px;
        left: -100px;
    }
    .text{
        position: relative;
        top: 300px;
        left: 200px;
    }
  }

