*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.body{
    background-color: #4072EE;
    font-family: 'Roboto';
}
#conteiner{
    position: relative;

}
#background{
    position: relative;
    height: 100vh;
}
#background img{
    max-width: 700px;
    position: absolute;
    bottom: 0;
}
#lightBox{
    background-color: #FFFFFF;
    position: absolute;
    right: 130px;
    top: 50px;
    width: 475px;
    height: 645px;
    border-radius: 5px;
}
.darkBox{
    background-color: #1F2327;
    color: #FFFFFF;
    position: absolute;
    right: 130px;
    top: 50px;
    width: 475px;
    height: 645px;
    border-radius: 5px;
}
.darkBox #button button{
    border: none;
}
.darkBox select{
    background-color: #292E33;
    border-color: #33393F !important;
    color: #FFFFFF;
}
#lightBox #change{
    position: absolute;
    top: 130px;
    left: 285px;
    font-size: 14px;
    font-weight: 400;
    color: #748AA1;
}
.darkBox #change{
    position: absolute;
    top: 130px;
    left: 285px;
    font-size: 14px;
    font-weight: 400;
    color: #748AA1;

}
.darkBox #mediaButton1{
    border: none;


}
.darkBox .input{
    background-color: #292E33;
    box-shadow: none;
    padding-top: 22px;
    color: #FFFFFF;
    border-color: #33393F;

}
.darkBox input{
    background-color: #292E33;
    border-color: #33393F !important;
    color: #FFFFFF;
}
.signUp{
    margin-top: 91px;
    margin-left: 80px;
}
.signUp p{
    color: #748AA1;
    font-weight: 400;
    font-size: 16px;
}
.input{
    background-color:#FFFFFF;
    position: absolute;
    width: 380px;
    height: 350px;
    left: 9%;
    bottom: 19%;
    border-radius: 5px;
    box-shadow: 1px 3px 6px 3px #EBEDF4;
    padding-top: 22px;
    /* box-shadow: -3px 3px 3px -5px; */

}
#emailLabel{
    display: block;
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
}
#emailInput{
    margin-left: 30px;
    margin-top: 5px;
    width: 319px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#countryLabel{
    display: block;
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
    margin-top: 20px;
}
#countrySection{
    margin-left: 30px;
    margin-top: 5px;
    width: 319px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#cityAndZip{
    display: flex;
}
#cityLabel{
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
    margin-top: 26px;
}
#zipLabel{
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 55px;
    margin-top: 26px;
}
#cityInput{
    margin-left: -35px;
    margin-top: 45px;
    width: 142px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#zipInput{
    margin-left: -62px;
    margin-top: 45px;
    width: 142px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#button button{
    margin-left: 30px;
    margin-top: 35px;
    width: 325px;
    height: 40px;
    border-radius: 5px;
    background-color: #29CB97;
    color: #FFFFFF;
    border:1px solid #EBEDF4;
    cursor: pointer;
}
.mediaButtons{
    position: relative;
}
.mediaButton1 button{
    position: absolute;
    border-radius: 5px;
    top: 400px;
    left: 42px;
    width: 160px;
    height: 40px;
    background-color: #255B9B;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}
.mediaButton2 button{
    position: absolute;
    border-radius: 5px;
    top: 400px;
    left: 265px;
    width: 160px;
    height: 40px;
    background-color: #00ADEE;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#success {
    text-align: center;
    color: #29CB97;
    visibility: hidden;
}
.header{
    background-color: rgba(0,0,0,0.09);
    padding: 20px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.header img{
    height: 30px;
}
.header p{
    font-Weight:400;
    font-size: 20px;;
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 4px;
}
.gradiant{
    background-color: rgb(75,39,140);
    background-color: -moz-linear-gradient(104deg, rgba(75,39,140,1) 0%, rgba(110,110,225,1) 100%, rgba(110,110,223,1) 100%);
    background-color: -webkit-linear-gradient(104deg, rgba(75,39,140,1) 0%, rgba(110,110,225,1) 100%, rgba(110,110,223,1) 100%);
    background-color: linear-gradient(104deg, rgba(75,39,140,1) 0%, rgba(110,110,225,1) 100%, rgba(110,110,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b278c",endColorstr="#6e6edf",GradientType=1);
    border-radius: 10px;
    font-family: 'Poppins';
    height: 100vh;
}
#weatherBar{
    background-color: rgba(0,0,0,0.2);
   flex:1;
    height: 415px;
    border-radius: 48px;

}
#weatherBar2{
    background-color: rgba(0,0,0,0.2);
   flex:1;
    height: 415px;
    border-radius: 48px;
    margin-left: 40px;
    display: flex;
}
.addNew{
    position: relative;
    width: 100%;
}
.rectangle{
    position: absolute;
    width: 100px;
    top: 36%;
    left: 36%;
}
.plus{
    width: 65px;
    position: absolute;
    top: 40%;
    left: 41%;
}
.addLocation{
    margin-top: 265px;
    margin-left: 70px;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.position{
    position: relative;
    color: #FFFFFF;
}
.position span {
    position: absolute;
    left: 625px;
    top: 61px;
    font-weight: 400;
    font-size: 18px;
}
.position img{
    position: absolute;
    left: 728px;
    top: 68px;
    width: 17px;
}
.position p{
    position: absolute;
    left: 753px;
    top: 61px;
    font-weight: 400;
    font-size: 18px;
}
.text{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.conteiner{
    max-width: 800px;
    margin: auto;
    height: calc(100% - 160px);

}
.city{
    color: #FFFFFF;
    width: 100px;
}
.weather-wrapper {
    align-items: center;
    height: 100%;

}

@media (max-width: 1024px){
    #background{
        display: none;
    }
    .body{
        background-color: black;
    }
    #lightBox{
        background-color: rgb(20, 47, 70);
    }
    .input{
        background-color: rgb(20, 47, 70);
    }
    #lightBox h1{
        color: white;
    }
}