*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.wrapper{
    max-width: 100%;
    background-color: #F3F2E7;
    margin: 0 auto;
}
.figure{
    position: relative;
}
#oval{
    position: absolute;
    top: 150px;
    left: 0px;
}
#rectangle{
    position: absolute;
    width: 500px;
    top: 142px;
    right: 0px;
}
header{
    position: relative;
    height: 50px;
    background-color:  rgba(0,0,0,0.6);
}
.logo{
    position: absolute;
    top: 20px;
    left: 35px;
    
}

.nav-bar{
    position: relative;
}
ul{
    position: absolute;
    left: 170px;
    top: 25px;
}
li{
    margin-right: 50px ;
    list-style-type: none;
    cursor: pointer;
}
.button-position{
    position: relative;
}
.button{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #7E8AB8;
    background-color: #F3F2E7;
    width: 138px;
    height: 48px;
    border-radius: 30px;
    border: 0.5px solid #7E8AB8 ;
    font-weight: 400;
    cursor: pointer;
}
.weather-regitration{
    position: relative;
}
.weather-regitration a{
    position: absolute;
    color: black;
    text-decoration: none;
}
.weather{
    left: 635px;
    top: 25px;
}
.signup{
    left: 735px;
    top: 25px;
}
.shapes{
    position: relative;
}
.shapes img{
    position: absolute;
}
#line{
    right: 317px;
    top: -520px;
    width: 250px;
}
#number{
    width: 120px;
    top: -606px;
    right: 390px;
}
#circle{
    top: -403px;
    right: 190px;
    width: 158px;
}
#circle2{
    top: -526px;
    width: 280px;
    right: 215px;
}
#path{
    top: -770px;
    right: 120px;
}
.text{
    position: relative;
}
h1{
    font-weight: 300;
    font-Size: 72px;
    line-height: 80px;
    position: absolute;
    left: 190px;
    bottom: 450px;
    font-family: "Rowdies";

}
.text p{
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    bottom: 365px;
    left: 190px;
    color: #3A170080;
}
.donation{
    position: absolute !important;
    height: 48px;
    width: 180px;
    height: 40px;
    border-radius: 50px;
    top: -330px;
    left: 190px;
    background-color: #7E8AB8;
    color: white;
    cursor: pointer;
}
.conteiner{
    max-width: 1835px;
}
.size-color{
    background-color: white;
    max-width: 1835px;
    margin: 0 auto
}
.conteiner{
    max-width: 100%;
    background-color: #ffff;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
#ourFeatures{
    text-align: center;
    margin-top: 122px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #E29F72;
}
#txtOnCharity{
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}
#secondSectionpath{
    margin-top: 85px;
    margin-left: 100px;
}
#secondSectionOval{
    margin-bottom: 260px;
    margin-left: -200px;
}
.conteiner_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: -450px;
    margin-left: 145px;
}
.box{
    background-color: #F3F2E7;
    max-width: 490px;

    padding: 54px 37px;
}
.box_help {
    display: flex;
    align-items: center;
    gap: 32px;
}
.firstHr{
    display: block;
    width:15%;
    text-align:left;
    margin-left:0;
    height: 3px;
    background-color: #333333    ;
    margin-top: 15px;
}
.secondHr{
    display: block;
    width:85%;
    text-align:left;
    margin-left:0;
    height: 1px;
    background-color: #DEDDCD;
    margin-top: 15px;
}
.box_help_txt{
    margin-top: 15px;
}
.box_help_txt p{
    font-weight: 400;
    font-size: 16px;
    color: #3A170080;
}