*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.flex{
    display: flex;
}
.body{
    background-color: #4072EE;
}
#conteiner{
    position: relative;

}
#background{
    position: relative;
    height: 100vh;
}
#background img{
    max-width: 700px;
    position: absolute;
    bottom: 0;
}
#lightBox{
    background-color: #FFFFFF;
    position: absolute;
    right: 130px;
    top: 50px;
    width: 475px;
    height: 645px;
    border-radius: 5px;
}
.darkBox{
    background-color: #1F2327;
    color: #FFFFFF;
    position: absolute;
    right: 130px;
    top: 50px;
    width: 475px;
    height: 645px;
    border-radius: 5px;
}
.darkBox #button button{
    border: none;
}
.darkBox select{
    background-color: #292E33;
    border-color: #33393F !important;
    color: #FFFFFF;
}
#lightBox #change{
    position: absolute;
    top: 130px;
    left: 285px;
    font-size: 14px;
    font-weight: 400;
    color: #748AA1;
}
.darkBox #change{
    position: absolute;
    top: 130px;
    left: 285px;
    font-size: 14px;
    font-weight: 400;
    color: #748AA1;

}
.darkBox #mediaButton1{
    border: none;


}
.darkBox .input{
    background-color: #292E33;
    box-shadow: none;
    padding-top: 22px;
    color: #FFFFFF;
    border-color: #33393F;

}
.darkBox input{
    background-color: #292E33;
    border-color: #33393F !important;
    color: #FFFFFF;
}
.signUp{
    margin-top: 91px;
    margin-left: 80px;
}
.signUp p{
    color: #748AA1;
    font-weight: 400;
    font-size: 16px;
}
.input{
    background-color:#FFFFFF;
    position: absolute;
    width: 380px;
    height: 350px;
    left: 9%;
    bottom: 19%;
    border-radius: 5px;
    box-shadow: 1px 3px 6px 3px #EBEDF4;
    padding-top: 22px;
    /* box-shadow: -3px 3px 3px -5px; */

}
#emailLabel{
    display: block;
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
}
#emailInput{
    margin-left: 30px;
    margin-top: 5px;
    width: 319px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#countryLabel{
    display: block;
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
    margin-top: 20px;
}
#countrySection{
    margin-left: 30px;
    margin-top: 5px;
    width: 319px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#cityAndZip{
    display: flex;
}
#cityLabel{
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
    margin-top: 26px;
}
#zipLabel{
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 55px;
    margin-top: 26px;
}
#cityInput{
    margin-left: -35px;
    margin-top: 45px;
    width: 142px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#zipInput{
    margin-left: -62px;
    margin-top: 45px;
    width: 142px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#button button{
    margin-left: 30px;
    margin-top: 35px;
    width: 325px;
    height: 40px;
    border-radius: 5px;
    background-color: #29CB97;
    color: #FFFFFF;
    border:1px solid #EBEDF4;
    cursor: pointer;
}
.mediaButtons{
    position: relative;
}
.mediaButton1 button{
    position: absolute;
    border-radius: 5px;
    top: 400px;
    left: 42px;
    width: 160px;
    height: 40px;
    background-color: #255B9B;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}
.mediaButton2 button{
    position: absolute;
    border-radius: 5px;
    top: 400px;
    left: 265px;
    width: 160px;
    height: 40px;
    background-color: #00ADEE;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#success {
    text-align: center;
    color: #29CB97;
    visibility: hidden;
}
.flex{
    display: flex;
}
.header{
    background-color: #000;
    /* width: 100vh; */
    height: auto;
    opacity: 0.06;
}
.header p{
    font-Weight:400;
    font-size: 24px;;
    color: #FFFFFF;
    opacity: 4;
}
.opacityNone{
    opacity: 1 !important;
    
}
.gradiant{
    background-color: rgb(75,39,140);
    background-color: -moz-linear-gradient(104deg, rgba(75,39,140,1) 0%, rgba(110,110,225,1) 100%, rgba(110,110,223,1) 100%);
    background-color: -webkit-linear-gradient(104deg, rgba(75,39,140,1) 0%, rgba(110,110,225,1) 100%, rgba(110,110,223,1) 100%);
    background-color: linear-gradient(104deg, rgba(75,39,140,1) 0%, rgba(110,110,225,1) 100%, rgba(110,110,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b278c",endColorstr="#6e6edf",GradientType=1);
    border-radius: 10px;
}
.weatherBar{
    background-color: rgb(0,0,0);
    background-color: -moz-linear-gradient(104deg, rgba(0,0,0,0.7820378151260504) 100%, rgba(0,0,0,0.8352591036414566) 100%);
    background-color: -webkit-linear-gradient(104deg, rgba(0,0,0,0.7820378151260504) 100%, rgba(0,0,0,0.8352591036414566) 100%);
    background-color: linear-gradient(104deg, rgba(0,0,0,0.7820378151260504) 100%, rgba(0,0,0,0.8352591036414566) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    opacity: 0.2;
    width: 350px;
    height: 475px;
    border-radius: 48px;
    margin-left: 400px;
    margin-top: 125px;
}
.weatherBar2{
    background-color: rgb(0,0,0);
    background-color: -moz-linear-gradient(104deg, rgba(0,0,0,0.7820378151260504) 100%, rgba(0,0,0,0.8352591036414566) 100%);
    background-color: -webkit-linear-gradient(104deg, rgba(0,0,0,0.7820378151260504) 100%, rgba(0,0,0,0.8352591036414566) 100%);
    background-color: linear-gradient(104deg, rgba(0,0,0,0.7820378151260504) 100%, rgba(0,0,0,0.8352591036414566) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    opacity: 0.2;
    width: 350px;
    height: 475px;
    border-radius: 48px;
    margin-left: 40px;
    margin-top: 125px;
}
.position{
    position: relative;
    color: #FFFFFF;
}
.position span {
    position: absolute;
    left: 648px;
    top: 65px;
    font-weight: 400;
    font-size: 18px;
}
.position img{
    position: absolute;
    left: 728px;
    top: 68px;
    width: 17px;
}
.position p{
    position: absolute;
    left: 748px;
    top: 65px;
    font-weight: 400;
    font-size: 18px;
}