*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.flex{
    display: flex;
}
body{
    background-color: #4072EE;
}
#conteiner{
    position: relative;

}
#background{
    position: relative;
}
#background img{
    max-width: 700px;
    position: absolute;
    top: 200px;
}
#lightBox{
    background-color: #FFFFFF;
    position: absolute;
    right: 130px;
    top: 50px;
    width: 475px;
    height: 645px;
    border-radius: 5px;
}
.darkBox{
    background-color: #1F2327;
    color: #FFFFFF;
    position: absolute;
    right: 130px;
    top: 50px;
    width: 475px;
    height: 645px;
    border-radius: 5px;
}
.darkBox #button button{
    border: none;
}
.darkBox select{
    background-color: #292E33;
    border-color: #33393F !important;
    color: #FFFFFF;
}
#lightBox #change{
    position: absolute;
    top: 130px;
    left: 285px;
    font-size: 14px;
    font-weight: 400;
    color: #748AA1;
}
.darkBox #change{
    position: absolute;
    top: 130px;
    left: 285px;
    font-size: 14px;
    font-weight: 400;
    color: #748AA1;

}
.darkBox #mediaButton1{
    border: none;


}
.darkBox .input{
    background-color: #292E33;
    box-shadow: none;
    padding-top: 22px;
    color: #FFFFFF;
    border-color: #33393F;

}
.darkBox input{
    background-color: #292E33;
    border-color: #33393F !important;
    color: #FFFFFF;
}
.signUp{
    margin-top: 91px;
    margin-left: 80px;
}
.signUp p{
    color: #748AA1;
    font-weight: 400;
    font-size: 16px;
}
.input{
    background-color:#FFFFFF;
    position: absolute;
    width: 380px;
    height: 350px;
    left: 9%;
    bottom: 19%;
    border-radius: 5px;
    box-shadow: 1px 3px 6px 3px #EBEDF4;
    padding-top: 22px;
    /* box-shadow: -3px 3px 3px -5px; */

}
#emailLabel{
    display: block;
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
}
#emailInput{
    margin-left: 30px;
    margin-top: 5px;
    width: 319px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#countryLabel{
    display: block;
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
    margin-top: 20px;
}
#countrySection{
    margin-left: 30px;
    margin-top: 5px;
    width: 319px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#cityAndZip{
    display: flex;
}
#cityLabel{
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 45px;
    margin-top: 26px;
}
#zipLabel{
    font-size: 12px;
    color: #748AA1;
    font-weight: 400;
    margin-left: 55px;
    margin-top: 26px;
}
#cityInput{
    margin-left: -35px;
    margin-top: 45px;
    width: 142px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#zipInput{
    margin-left: -62px;
    margin-top: 45px;
    width: 142px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #EBEDF4;
}
#button button{
    margin-left: 30px;
    margin-top: 35px;
    width: 325px;
    height: 40px;
    border-radius: 5px;
    background-color: #29CB97;
    color: #FFFFFF;
    border:1px solid #EBEDF4;
    cursor: pointer;
}
.mediaButtons{
    position: relative;
}
.mediaButton1 button{
    position: absolute;
    border-radius: 5px;
    top: 400px;
    left: 42px;
    width: 160px;
    height: 40px;
    background-color: #255B9B;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}
.mediaButton2 button{
    position: absolute;
    border-radius: 5px;
    top: 400px;
    left: 265px;
    width: 160px;
    height: 40px;
    background-color: #00ADEE;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#success {
    text-align: center;
    color: #29CB97;
    visibility: hidden;
}